USE [CodeTest]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/14/2025 2:28:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'9efb0e82-f4c8-4790-bad5-1b87cb55a8b8', N'Shark', N'Refresh your energy', CAST(2500.00 AS Decimal(18, 2)), 100, N'/uploads/products/666b0613-9405-4dad-959a-76fd9c9d5a7c_Shark Energy Drink.jpeg', CAST(N'2025-11-13T18:52:19.547' AS DateTime), CAST(N'2025-11-13T19:01:19.757' AS DateTime))
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'89cb9716-55f2-4d73-b574-1eb4dcc4e2c4', N'Rich Coffee', N'Expresso', CAST(12000.00 AS Decimal(18, 2)), 150, N'/uploads/products/aaca8389-1c9a-4df9-ab49-402d1232454a_rich.jpg', CAST(N'2025-11-13T19:02:33.833' AS DateTime), CAST(N'2025-11-13T19:10:49.927' AS DateTime))
INSERT [dbo].[Product] ([ProductID], [Name], [Description], [Price], [Quantity], [ImageUrl], [CreatedAt], [UpdatedAt]) VALUES (N'09d698eb-76a5-462a-821e-b09fd0e281af', N'Milo', N'Tasty and trusted', CAST(2000.00 AS Decimal(18, 2)), 200, N'/uploads/products/a07a17c4-8b6b-48c8-b54e-8d48a484728b_milo.jpg', CAST(N'2025-11-13T19:03:29.000' AS DateTime), CAST(N'2025-11-13T19:07:06.450' AS DateTime))
GO
ALTER TABLE [dbo].[Product] ADD  CONSTRAINT [DF_Product_ProductID]  DEFAULT (newid()) FOR [ProductID]
GO
